<div class="card" style="width: 100%;">
  <div class="card-header d-flex justify-content-center align-items-center ">
    <p class="mb-0">
      Add Abonement Information
    </p>
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label  class="form-label">Matricul</label>
        <input type="text" class="form-control" >
      </div>
      <div class="mb-3">
        <label  class="form-label">Solde</label>
        <input type="text" class="form-control"  >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>








