label:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #063654;
}

label {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  transform: skew(-25deg);
  transition: all 400ms ease-out;
}
div.card-header{
  color:#02a3b9;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
}


form:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #e36804,
    #21211b,
    #153b04,
    #023b32,
    #050f3f,
    #280949,
    #500540,
    #701212
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-form {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

form:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

form {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(31, 31, 31);
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #d2c448,
    #4339a6,
    #34b02b,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #e374a7,
    #0ba670
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
